# main modules
django>4.2,<4.3
pillow

# env controller
python-decouple

# database modules
psycopg[binary]

# third party modules
django-debug-toolbar
django-simple-captcha
celery
redis
django-ckeditor

# reformatting
black
flake8