{% extends "_base.html" %}

{% load static %}

{% block title %}
فراموشی رمز عبور
{% endblock title %}

{% block extra_css %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
{% endblock extra_css %}

{% block content %}
<main id="content" role="main">
    <!-- Form -->
    <div class="container content-space-3 content-space-t-lg-4 content-space-b-lg-3">
      <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
        <!-- Heading -->
        <div class="text-center mb-5 mb-md-7">
          <h1 class="h2">رمز عبور را فراموش کرده اید؟</h1>
          <p>آدرس ایمیل خود را در زیر وارد کنید و ما شما را به مسیر درست برگردانیم.</p>
        </div>
        <!-- End Heading -->

        <!-- Form -->
        <form action="{% url "accounts:password_reset" %}" method="post">
            {% csrf_token %}
          <!-- Form -->
          <div class="mb-3">
            <div class="d-flex justify-content-between align-items-center">
              <label class="form-label" for="signupSimpleResetPasswordEmail" tabindex="0">ایمیل شما</label>

              <a class="form-label-link text-decoration-none" href="{% url "accounts:login" %}">
                بازگشت به صفحه ورود
              </a>
            </div>

            <input type="email" class="form-control form-control-lg text-center" name="email"
              id="signupSimpleResetPasswordEmail" tabindex="1" placeholder="ایمیل خود را وارد نمایید"
              aria-label="Enter your email address" required>
            <span class="invalid-feedback">لطفا یک آدرس ایمیل معتبر وارد کنید.</span>
          </div>
          <!-- End Form -->

          <div>

            {{form.captcha}}
          </div>
        <div>

          <button type="button" id="refresh-captcha" class="btn btn-outline-secondary btn-sm mt-2">
              🔄 Refresh Captcha
        </div>


          <div class="d-grid mb-3 mt-3">
            <button type="submit" class="btn btn-primary btn-lg">ارسال</button>
          </div>
        </form>
        <!-- End Form -->
      </div>
    </div>
    <!-- End Form -->
  </main>
  

{% endblock content %}

{% block extra_js %}
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


<script>
    document.getElementById('refresh-captcha').addEventListener('click', function() {
        var captchaImage = document.querySelector('img.captcha');
        fetch('{% url "captcha-refresh" %}')
            .then(response => response.json())
            .then(data => {
                captchaImage.src = data.image_url;
                document.getElementById('id_captcha_0').value = data.key;
            });
    });
    </script>
{% endblock extra_js %}
